@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat";
}
.bg_indigo{
    background: linear-gradient(90deg, #4752a9, #3557A3, #4752a9, #4752a9, #4E4EA4, #715CC9, #715CC9);
}

.footer_box{
    background-color: #364b7d7e;
}

.card_bg{
    background-color: #F3F3F8;
    border-radius: 1rem;
}
.bg_light{
    background-color: #F4F4FB;
}
.bg-custom{
    background-image: url('./Assets/imgs/pillarsbg.jpg');
}
.slick_slide{
    max-height: 80rem;
}
.slider-container .next-btn, .slider-container .prev-btn{
    display: none !important;
}