@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat";
    scroll-behavior: smooth;
}
.bg_indigo{
    background: linear-gradient(90deg, #4752a9, #3557A3, #4752a9, #4752a9, #4E4EA4, #715CC9, #715CC9);
}
.bg_indigo1{
    background: linear-gradient(90deg, #715CC9, #715CC9, #715CC9, #715CC9, #715CC9, #715CC9, #715CC9);
}

.footer_box{
    background-color: #364b7d7e;
}
.bg_blue-950{
    background-color: #112E50 !important;
}
  
.text-blue-950{
    color: #112E50;
}

.card_bg{
    background-color: #F3F3F8;
    border-radius: 1rem;
}
.bg_light{
    background-color: #F4F4FB;
}
.bg-custom{
    background-image: url('./Assets/imgs/pillarsbg.jpg');
}
.slick_slide{
    max-height: 80rem;
}
.hide-arrows .slick-next,
.hide-arrows .slick-prev {
  display: none !important; /* Important to override default styles */
}
.line-container {
    margin-top: 5vh;
    display: flex;
    width: 100%;
  }
  
  .line-container .progress-line {
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    width: 90%;
    background: transparent;
    height: 5px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
  }
  
  /* New styling for dashed lines */
  .line-container .progress-line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: grey;
    z-index: -1;
    border-radius: 1px;
    transform: translateY(-50%);
    background-image: repeating-linear-gradient(to right, transparent, transparent 5px, grey 5px, grey 10px);
  }
  
  .line-container .progress-line .progress {
    position: absolute;
    width: 75%;
    height: 100%;
    background: transparent;
    transition: width 1s ease-in-out;
  }
  
  .line-container .status {
    position: relative;
    top: -9.5px;
  }
  
  .line-container .status .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3557A3; /* Changed to blue */
    border: none; /* Removed border */
    cursor: pointer;
  }
  
  .line-container .status .dot.completed::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5.5px);
    height: 5px;
    transform-origin: center;
    transform: rotate(-45deg);
    z-index: 2;
  }

  .tooltip-container {
    position: absolute;
    top: 100%; /* Position below the reference element */
    left: 0%;
    transform: translate(0%);
    z-index: 30; /* Ensure it's above other elements */
  }

  .tooltip-content {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 620px; /* Adjust the width as needed */
  }


 
  @media (min-width: 768px) {
    .progress-line {
      justify-content: flex-start;
    }
  }

  
  
  
@media (max-width: 768px) {
    /* .progress-line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 0;
        justify-content: start;
        gap: 2px; 
      }
      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .dot {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        display: block; 
        margin-bottom: 15px; 
        width: 23rem;
      } */
    .mobile-center {
        left: 50%;
        transform: translateX(-50%);
    }
    #style-8::-webkit-scrollbar-track
{
	border: 1px solid rgb(255, 255, 255);
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #112E50;	
  border-radius: 2rem;
}
.scrollbar
{
	float: left;
	height: 80vh;
	width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #112E50;
  border-radius: 8px;
	background: #fff;
	overflow-y: scroll;
	/* margin-bottom: 25px; */
}

.force-overflow
{
	min-height: 80vh;
}

:root {
  --body-background-color: #fff;
  --v-progress-left: 50px;
  --v-progress-item-height-width: 12px;
  --v-progress-line-height: 35px;
  --v-progress-line-width: 3px;
  --v-progress-gap: 13px;
}



.v-progress ul {
  list-style: none;
}

.v-progress-item {
  position: relative;
  margin: 1rem 0;
  margin-left: var(--v-progress-left);
  height: var(--v-progress-item-height-width);
  line-height: var(--v-progress-item-height-width);
  margin-bottom: var(--v-progress-line-height);
}

.v-progress-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: calc(-2px - var(--v-progress-left));
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #3557A3 !important;
}

.v-progress-item.completed:before {
  background-color: var(--blue);
}

.v-progress-item:after {
  content: "";
  display: inline-block;
  position: absolute;
  height: calc(var(--v-progress-line-height) - var(--v-progress-gap));
  top: calc(var(--v-progress-item-height-width) + var(--v-progress-gap) / 2);
  left: calc(
    0px - var(--v-progress-left) +
      var(--v-progress-item-height-width) / 2 -
      var(--v-progress-line-width) / 2
  );
  border-left: var(--v-progress-line-width) solid #000000;
}

.v-progress-item.completed:after {
  border-left: var(--v-progress-line-width) solid #3557A3;
}

/* Add this CSS for the step line */
.v-progress-item.completed:after,
.v-progress-item.inprogress:after {
  position: absolute;
  content: "";
  top:0;
  width: var(--v-progress-line-width);
  height: calc(var(--v-progress-line-height) + var(--v-progress-gap));
  background-color: #3557A3;
  left: calc(0px - var(--v-progress-left) + var(--v-progress-item-height-width) / 2 - var(--v-progress-line-width) / 2);
  z-index: 1;
}


}